#movies {
    border: 3px solid rgba(57,129,169,1);
    border-radius: 10px;
    width: 50%;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
#movies > h1 {
    margin: 10px 0px 0px 0px;
    padding: 10px 20px 5px 30px;
    border-bottom: 1px solid black;
    text-align: center;
}
  
.addMovie {
    padding: 10px 15px;
}
  
#movieList {
    padding: 0px;
    margin: 0px;
}
  
#movieList > li {
    /* display: flex; */
    align-items: center;
    /* width: 100%; */
    padding: 10px 5px;
    margin: 0px;
    list-style: none;
}
  
#movieList > li > .collapsible, #movieList > li > .active {
    display: inline-flex;
    flex: 11;
    align-items: flex-end; 
    width: 80%;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: 5px 10px;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    /* flex: 100; */
}
.delete {
    display: inline-flex;
    flex: 1;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.movieDetails {
    /* display: inline; */
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
  
/* #movieList > li >  label {
    flex: 10;
} */
  
/* #movieList > li > input[type=text] {
    flex: 10;
    margin: 5px 10px;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
} */
/*   
#movieList > li > button {
    flex: 1;
    margin: 5px;
} */
/*   
.checked > label {
    text-decoration: line-through;
} */
  
.addMovie {
    display: flex;
    align-items: flex-end;
}
  
.addMovie > input[type=text] {
    flex: 11;
  
    border: none;
    padding: 5px 1px;
    margin: 0px;
    font-size: 1em;
    width: 80%;
    border-bottom: 2px solid rgb(162, 166, 173);
  
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    transition: border linear 0.5s;
    webkit-transition: border linear 0.5s;
}
  
.addMovie input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid rgb(114, 158, 234);
}
  
.addMovie > button {  
    margin: 5px 5px 5px 10px;
    flex: 1;
}
  
  
#movieList li:nth-child(even) {
    background-color: rgba(114, 158, 234, 0.3);
}